# Log files
.log
log
logs
graph_logs
graph_logs_new
logs_parser
logs_parser_nervenet
MUJUCO_LOG.txt

# Output / model files
*.zip
gym-results
.gym-results


# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs

# Visual Studio build files
.vscode/
*.vcxproj
*.vcxproj.filters
*.sln

#
.idea
bullet3
runs
pip-delete-this-directory.txt
